# Assignment #1

This assignment can be completed by adding code to this notebook for each question.

Turn in a completed notebook, renamed as

`assignment_1_<username>.ipynb`

with your `<username>` being your DataVU login name (e.g., mine is `kgoebber`) to `/archive/courses/met330/assignment1` via the Linux computing system.

This assignment is worth 50 points.

**DUE DATE: 6 September 2022 at 10 am.**

## Question #1

(2 points) Answer the following question by using the print function to send to standard output (i.e., the screen).

What is your favorite snack food?

In [1]:
print('Potato chips are my favorite snack food.')

Potato chips are my favorite snack food.

## Question #2
(3 points) Create a string variable called `firstname` and `lastname`, assign them with your firstname and lastname, respectively. Print them out using string concatentaion so that your full name prints out on one line with a space between your first and last name.

In [2]:
firstname = 'Kevin'
lastname = 'Goebbert'

print(firstname+' '+lastname)

Kevin Goebbert

## Question #3
(5 points) Using the same variables from Questions #2, use separate print statements to output the third letter from each of the variables.

In [3]:
print(firstname[2])
print(lastname[2])

v
e

## Question #4
(5 points) Write a mathematical equation to convert 72 F to Celsius and Kelvin using variables and print the result, with units, using a formatted string.

In [7]:
tmpf = 72
tmpc = (tmpf - 32)*(5/9)
tmpk = tmpc + 273.15
print(f'The temperature is {tmpf:.1f} degF')
print(f'The temperature is {tmpc:.1f} degC')
print(f'The temperature is {tmpk:.1f} K')

The temperature is 72.0 degF
The temperature is 22.2 degC
The temperature is 295.4 K

## Question #5
(5 points) Given the following list, use a Python built-in function to determine how many elements it has and print it to the screen. Then print only the second and third elements of the list to the screen.

In [13]:
values = ['Valparaiso University', 1859, 'Beacons', 987.4, 'Dunes National Park', 1e4]
print(len(values))
print(values[1])
print(values[2])

6
1859
Beacons

## Question #6
(5 points) Using the same initial list add two elements to the list 1) your hometown and state as a string and 2) your favorite number as a float or integer. Print the new list to the screen, then check to see if the number 42 appears in the list using the Python built-in `in` function.

In [15]:
values.append('Des Plaines, IL')
values.append(19)
print(values)
print(42 in values)

['Valparaiso University', 1859, 'Beacons', 987.4, 'Dunes National Park', 10000.0, 'Des Plaines, IL', 19, 'Des Plaines, IL', 19]
False

## Question #7
(5 points) Given the following tuple that describes the Valparaiso, IN latitude and longitude in degrees, minues, and seconds, convert that latitude and longitude value to be in decimal degrees and print the new values, with its north, south, east, or west direction, to the screen via standard output.

Note: That one degree is one hour, there are 60 minutes in an hour, and 3600 seconds in an hour.

`Decimal Degrees = degrees + (minutes/60) + (seconds/3600)`

In [16]:
valpo_latitude = (41, 28, 50, 'N')
valpo_longitude = (-87, 3, 9, 'E')

In [19]:
dd_lat = valpo_latitude[0] + valpo_latitude[1] / 60 + valpo_latitude[2] / 3600
dd_lon = valpo_longitude[0] + valpo_longitude[1] / 60 + valpo_longitude[2] / 3600
print(f'The Valpo latitude is {dd_lat:.2f} {valpo_latitude[3]}')
print(f'The Valpo longitude is {dd_lon:.2f} {valpo_longitude[3]}')

The Valpo latitude is 41.48 N
The Valpo longitude is -86.95 E

## Question #8
(5 points) If you were to attempt to reassign one of the values in the valpo_latitude tuple from question #7, what would happen? Explain. Type your response below as a comment.

In [20]:
# Reassignment of a tuple is not allowed in Python, so that action would fail and yield an error
valpo_latitude[1] = 29

TypeError: 'tuple' object does not support item assignment

## Question #9
(5 points) Given the following dictionary, add the following wind speed values to the dictionary with a key of "wind", then print all of the keys of the dictionary to standard output.

Wind speed values: 11, 4, 8, 14

In [21]:
valpo_obs = {'times':[0, 6, 12, 18],
             'tmpf':[78, 64, 61, 82],
             'precip':[0, .1, 0, 0]}

In [22]:
valpo_obs['wind'] = [11, 4, 8, 14]
print(valpo_obs.keys())

dict_keys(['times', 'tmpf', 'precip', 'wind'])

## Question #10
(10 points) There are a number of different calculations that meteorologists routinely encounter including potential temperature. Create Python code that will read an input of a temperature in Celsius and the pressure level in hPa, compute the potential temperature for the input data, and print the original temperature in Kelvin and pressure in hPa with the calculated potential temperature to standard output.

Potential Temperature Equation:

\begin{equation}
\theta={T\left(\frac{p_0}{p}\right)}^\frac{R_d}{C_p}
\end{equation}

Where `p0` is the reference pressure (typically 1000 hPa), `T` is the temperature in Kelvin at the given pressure level `p`, `Rd` is the dry gas constant (287 J kg-1) and `Cp` is the specific heat of air (1004 J kg-1).

**Test Case 1**
```
>>>
Enter a Temperature in Celsius:
-15

Enter a Pressure in hPa:
850

Temperature (K): 258.14999
Pressure (hPa): 850.00000
Pot. Temp. (K): 270.42584
>>>
```
**Test Case 2**
```
>>>
Enter a Temperature in Celsius:
-25

Enter a Pressure in hPa:
500

Temperature (K): 248.14999
Pressure (hPa): 500.00000
Pot. Temp. (K): 302.52805
>>>
```

In [26]:
tmpc = float(input('Enter a Temperature in Celsius: '))
pres = float(input('Enter a Pressure in hPa: '))
# tmpc = -15
# pres = 850

tmpk = tmpc + 273.15

theta = tmpk * (1000 / pres)**(287/1004)

print(f'Temperature (K): {tmpk:.2f}')
print(f'Pressure (hPa): {pres:.2f}')
print(f'Pot. Temp. (K): {theta:.2f}')

Enter a Temperature in Celsius:  -25
Enter a Pressure in hPa:  500

Temperature (K): 248.15
Pressure (hPa): 500.00
Pot. Temp. (K): 302.53