# Time in Python

Dealing with dates and times are not always the easiest thing. One of the built-in modules to Python is the datetime package, which has robust methods for dealing with all sorts of date related needs. This notebook will hit some of the main highlights of working with dates in Python.

For full information on the datetime module visit the documentation pages: https://docs.python.org/3/library/datetime.html

## Importing Datetime Module

The import statement is a little different from most of the imports that we do for Python modules as the name of the specific module we want to import is the same as the package itself.

Documentation Page: https://docs.python.org/3/library/datetime.html#datetime-objects

Examples of Datetime Usage: https://docs.python.org/3/library/datetime.html#examples-of-usage-datetime

In [ ]:
from datetime import datetime

import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Pull time from computer
d = datetime.utcnow()
print(d)

## Construct Datetime Object

You can make any date/time into a datetime object

Format of datetime function call: `datetime(<year>, <month>, <day>, <hour>, <minute>)`

In [ ]:
# Construct a datetime object
# Format of datetime function call: datetime(<year>, <month>, <day>, <hour>, <minute>)

## Get pieces of date out

Year: ```date.year```

Month: ```date.month```

Day: ```date.day```

Hour: ```date.hour```

Minute: ```date.minute```

Second: ```date.second```

These methods will give you the numeric value of each part of the datetime object.

## Create Datetime Object from String Value

Maybe you get a a date as a string, say from an ```input()``` function call, you can use a function from datetime to make that into a datetime object.

## Date Calculations

What was the date five days ago?

What will the date be five days from now?

The timedelta module, part of the datetime package, can be used to perform simple date calculations

In [ ]:
from datetime import timedelta

# What was the day/month/year of four days ago

## Advanced Subsetting

Working with time series data can be difficult because of dates. Dates are a unique format that are not integers, strings, or floating point numbers. Some motivating questions as we work with data that includes dates:
* So how do we successfully read in a column that contains dates?
* How can we subset using dates?

Let's begin by reading in our ORD data that we have been working with and we'll need to use two separate read statements because of the different formats of our dates from the rest of our data.

In Numpy, the data type (dtype) for our dates is `np.datetime64`. We'll have to specify that data type when we read in our data using the `dtype` keyword argument.

More information about Numpy datetime64: https://numpy.org/doc/stable/reference/arrays.datetime.html

In [ ]:
# First read in our data only bringing in the precipitation column (4)

While the Numpy datetime64 data type is just fine, I prefer working with native Python datetime objects. We can convert the dates Numpy array to an array containing datetime objects by converting the types. It's a little wonky because you first have to convert to a `datetime64[ms]`, which is a millisecond format, then to the datetime object or `'O'`.

In [ ]:
# Convert to Datetime Objects

Now we can work to subset our arrays based on datetime objects that are a bit easier to use than trying to figure out what index value would correspond to the Julian day.

Let's grab all of the data for summer, which would be all of the dates between June 21 and September 22. We'll need check our dates based on the dates array, then use the result (which would be a boolean array) to then subset the array containing our data. We'll also subset our dates array to use that for plotting purposes.

In [ ]:
# Set the start and end date that we want to subset for
start_date = 
end_date = 

# Set a subset boolean array based on the combination of wanting the dates on and after our start date
# to on or before the end date. This means we'll need an & to find that intersection of data
subset = (dates >= start_date)&(dates <= end_date)
#print(subset)

# Subset our data array

# Subset the dates using the same method

Now let's plot all of the summer maximum temperatures that we previously subset, knowing that the maximum temperature is in the third column (index = 2).

## Exercise #1

Plot the max, min, and average temperature for spring (March 20 to June 20) all on the same plot. Be sure to properly label all elements of your plot including acis labels, title, and legend.

## Exercise #2

Create one figure that contains three different axes for the max, average, and min temperature for spring, summer, and fall. Each axes should have the separate season.